body{
	margin: 0;
	padding: 0;
}

.nav{
	margin-left: auto;
	margin-right:0px;
	width: 280px;
}

.nav ul{
	list-style-type:none;
}

.nav li{
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 14px;
	font-family: arial,sans-serif;
}

#blocks {
	background-image: url(https://ssl.gstatic.com/gb/images/i2_e0f0a2bf.png);
	background-size: 528px 68px;
	background-position: -132px -38px;
	height:30px; width: 30px;

}

#sign_in{
	height: 30px; width: 70px;
	border:  1px solid #4285f4;
	background-color: #4285f4;
	border-radius: 2px;
	color: white;
	text-align: center;
	font-weight: bold;
}

#sign_in p{
	margin-top: 8px;
	margin-bottom: 8px;
}

.center p{
	text-align: center;
	margin:auto;
	font-size: small;
	font-family: arial,sans-serif;
}

.center {
	vertical-align: middle;
}

.logo img{
	position: relative;
    height: 95px;
    width: 269px;
    background-image: 269px 96px;
}
.logo p{
	position: relative;	
	top : -30px;
	left: 115px;
	color: #777;
	font-weight: bold;
	font-size: 16px;
	font-family: arial,sans-serif;
}

.logo {
	position: relative;
	margin: auto;
	height: 95px;
    width: 269px;
}
.btn{
	margin: auto;
	width: 455px; height: 28px;
	display:block;
	text-align: center;
}
.btn input{
	margin:15px 8px 15px 8px;
	font-size: 1.5em;
	font-weight: bold;
	font-family: arial,sans-serif;
}
.search_bar{
	margin: auto;
	margin-top: 15px; margin-bottom: 10px;
	width: 455px; height: 28px;
}

.search_bar input{
	width: 455px;
	height: 28px;
	font-size: 16px;
	font-family: arial,sans-serif;
}

.footer {
	position: absolute;
	width: 100%;
	border-top:1px solid #e4e4e4;
	background: #f2f2f2;
	height: 35px;
	bottom: 0px;
}

.footer ul{
	list-style-type:none;
	display:inline-block;
	margin: 0;
	padding: 0;

}

.footer li{
	display:inline-block;
	margin: 10px 5px 0 5px;
}

.l_foot {
	padding-left: 10px;
	position: relative;
	float:left;
	font-size: 12px;
	font-weight: bold;
	font-family: arial,sans-serif;
}

.r_foot {
	padding-right: 10px;
	position: relative;
	float: right;
	font-size: 12px;
	font-weight: bold;
	font-family: arial,sans-serif;
}
